/*Cover*/
.header {
  position:relative;
  text-align:center;
  background: linear-gradient(60deg, rgba(84,58,183,1) 0%, rgba(0,172,193,1) 100%);
  color:white;
}
.inner-header {
  height:65vh;
  width:100%;
  margin: 0;
  padding: 0;
}
.flex { 
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.waves {
  position:relative;
  width: 100%;
  height:15vh;
  margin-bottom:-7px;
  min-height:100px;
  max-height:150px;
}
.content {
  position:relative;
  height:20vh;
  text-align:center;
  background-color: white;
}

/* Animation in Cover*/
.parallax > use {
  animation: move-forever 25s cubic-bezier(.55,.5,.45,.5)     infinite;
}
.parallax > use:nth-child(1) {
  animation-delay: -2s;
  animation-duration: 7s;
}
.parallax > use:nth-child(2) {
  animation-delay: -3s;
  animation-duration: 10s;
}
.parallax > use:nth-child(3) {
  animation-delay: -4s;
  animation-duration: 13s;
}
.parallax > use:nth-child(4) {
  animation-delay: -5s;
  animation-duration: 20s;
}
@keyframes move-forever {
  0% {
   transform: translate3d(-90px,0,0);
  }
  100% { 
    transform: translate3d(85px,0,0);
  }
}
/*Shrinking for mobile*/
@media (max-width: 768px) {
  .waves {
    height:40px;
    min-height:40px;
  }
  .content {
    height:30vh;
  }
  h1 {
    font-size:24px;
  }
}

/*links & hover*/
li a {
  text-decoration: none;
  color:#4984e3;
}
li a:hover{
  color: #4984e3;
  font-weight:bold;
}

/*button & input*/

input{
  outline: none;
}


/*Vocabulary List Style*/
table.boostrap4_table_head_dark_striped_rounded_with_shadow {
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  text-align: left;
  box-sizing: border-box;
  border-collapse: collapse;
  width: 100%;
  margin-bottom: 1rem;
  background-color: transparent;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  border-radius: 10px;
}

table.boostrap4_table_head_dark_striped_rounded_with_shadow thead th {
  font-size: 1rem;
  line-height: 1.5;
  border-collapse: collapse;
  box-sizing: border-box;
  text-align: inherit;
  padding: .75rem;
  vertical-align: bottom;
  border-bottom: 1px solid #dee2e6;
  color: #fff;
  background-color: #4984e3;
  border-color: #000;
}

table.boostrap4_table_head_dark_striped_rounded_with_shadow td {
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  text-align: left;
  border-collapse: collapse;
  box-sizing: border-box;
  padding: .75rem;
  vertical-align: top;
}

table.boostrap4_table_head_dark_striped_rounded_with_shadow tbody tr:nth-of-type(odd) {
  background-color: rgba(0, 0, 0, .05);
}

table.boostrap4_table_head_dark_striped_rounded_with_shadow th:first-of-type {
  border-top-left-radius: 10px;
}

table.boostrap4_table_head_dark_striped_rounded_with_shadow th:last-of-type {
  border-top-right-radius: 10px;
}

table.boostrap4_table_head_dark_striped_rounded_with_shadow tr:last-of-type td:first-of-type {
  border-bottom-left-radius: 10px;
}

table.boostrap4_table_head_dark_striped_rounded_with_shadow tr:last-of-type td:last-of-type {
  border-bottom-right-radius: 10px;
}




@media print {
  #hidePrint {
    display: none;
  }
  table.boostrap4_table_head_dark_striped_rounded_with_shadow col{
    width: 2000px;
  }
}